* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #30638E;
    text-align: center;
}

h1 {
    font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #D1495B, 0px 0px 10px #D1495B, 0px 0px 10px #D1495B, 0px 0px 20px #D1495B;
}
  
.container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
}
  
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
  
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #D1495B;
    background-color: #EDAE49;
}
  
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #003D5B;
    color: white;
    border-radius: 1rem;
    border: none;
}
  
#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #003D5B;
    color: white;
    border-radius: 1rem;
    border: none;
}
  
#msg {
    color: #EDAE49;
    font-size: 5vmin;
}
  
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
  
.hide {
    display: none;
}